@mixin bounce-in () {
  .bounce-in-enter-active {
    transition: all 0.6s ease;
  }
  .slide-fade-leave-active {
    transition: all 2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .bounce-in-enter,
  .bounce-in-leave-to {
    transform: translateX(100px);
    opacity: 0;
  }
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}