@mixin colorful () {
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 255, 255));
  color: transparent;
  -webkit-background-clip: text;
}

@mixin card() {
  position: relative;
  margin: 30px 0;
  .card-header {
    padding: 0 15px;

    &.card-header-icon {
      .card-icon {
        border-radius: 3px;
        background-color: #999;
        padding: 15px;
        margin-top: -20px;
        margin-right: 15px;
        float: left;

        & .matrix-icon {
          font-size: 36px;
          line-height: 56px;
          width: 56px;
          height: 56px;
          color: #fff;
          text-align: center;
        }
      }

      .card-category {
        color: #999;
        font-size: 16px;
        padding: 10px 0 0;
        margin: 0;
        text-align: right;
      }

      .card-title {
        font-size: 25px;
        color: #3c4858;
        font-weight: 300;
        text-align: right;
      }

      .card-icon-danger {
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(244 67 54 / 40%);
        background: linear-gradient(60deg, #ef5350, #e53935);
      }

      .card-icon-success {
        background: linear-gradient(60deg,#66bb6a,#43a047);
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(76 175 80 / 40%);
      }

      .card-icon-info {
        background: linear-gradient(60deg,#26c6da,#00acc1);
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 188 212 / 40%);
      }

      .card-icon-warning {
        background: linear-gradient(60deg,#ffa726,#fb8c00);
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(255 152 0 / 40%);
      }
    }

    &.card-header-primary {
      padding: 20px 15px 15px;
      margin: 0 15px;
      position: relative;
      top: -20px;
      &.card-header-danger {
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(244 67 54 / 40%);
        background: linear-gradient(60deg, #ef5350, #e53935);
      }

      &.card-header-success {
        background: linear-gradient(60deg,#66bb6a,#43a047);
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(76 175 80 / 40%);
      }

      &.card-header-info {
        background: linear-gradient(60deg,#26c6da,#00acc1);
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 188 212 / 40%);
      }

      &.card-header-warning {
        background: linear-gradient(60deg,#ffa726,#fb8c00);
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(255 152 0 / 40%);
      }
    }
  }

  .card-body {
    padding: 10px 15px;
  }

  .card-footer {
    margin: 20px 15px 10px;
    padding: 10px 0;
    border-top: 1px solid #eee;
    font-size: 12px;
    color: #999;

    .v-icon {
      font-size: 16px;
      margin-top: -2px;
    }
  }

  &.theme--dark .card-header .card-title {
    color: #fff;
  }
}